<nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-3">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
           
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink] = "['/']" class="nav-link" >Home</a>
          </li>
          <li  class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a [routerLink] = "['/login']" class="nav-link" >Student details</a>
       
      </ul>
      <span class="navbar-text white-text">
          <b>ABC Company </b>
      </span>
  </div>
</nav>  
